<div class="relative w-full rounded overflow-hidden mb-3">
    <div class="hidden md:block absolute inset-0 bg-conic-80 from-orange-600 via-slate-500 to-slate-900 rounded z-0"></div>

    <div class="relative md:bg-slate-300 dark:md:bg-slate-900 rounded md:p-2 text-slate-800 dark:text-slate-400 m-[1px] z-0 flex ">

        <ng-container *ngIf="!isLoading; else loadingAnimation">
            <ng-content></ng-content>
            <span class="pl-2 text-slate-800 dark:text-white">{{ title }}</span>
        </ng-container>

        <ng-template #loadingAnimation>
            <div class="flex justify-center items-center animate-pulse space-x-4 w-full">
                <div class="size-6 rounded-full bg-gray-200"></div>
                <div class="flex-1">
                    <div class="h-2 rounded bg-gray-200"></div>
                </div>
            </div>
        </ng-template>
    </div>
</div>