<div
  (click)="emitEvent()"
  role="button"
  tabindex="0"
  (keydown)="onKeyDown($event)"
  [attr.aria-label]="label"
  [attr.aria-pressed]="isActive"
  [ngClass]="{
    'border-x-lime-600': isActive && !isLoading,
    'border-x-slate-600': !isActive,
  }"
  class="relative h-12 w-12 cursor-pointer rounded border-x-4 border-y-1 border-y-slate-600 bg-slate-300 hover:border-x-orange-600 md:w-44 dark:border-y-slate-700 dark:bg-slate-900"
>
  <ng-container *ngIf="!isLoading; else loadingAnimation">
    <ng-container *ngIf="titleTemplate" [ngTemplateOutlet]="titleTemplate"></ng-container>
    <ng-container *ngIf="subtitleTemplate" [ngTemplateOutlet]="subtitleTemplate"></ng-container>
  </ng-container>

  <ng-template #loadingAnimation>
    <div class="m-2 flex animate-pulse flex-col gap-2">
      <div class="h-3 rounded bg-gray-200"></div>
      <div class="h-2 rounded bg-gray-200"></div>
    </div>
  </ng-template>
</div>
