<app-header
  [textSize]="'medium'"
  [title]="'app.register.title' | translate"
  [subtitle]="'app.register.subtitle' | translate"
  [isLoading]="false"
>
  <div class="mr-1 size-12 text-slate-700">
    <app-icon [name]="'register'" [size]="12" [lightcolor]="'slate-400'" [darkcolor]="'slate-600'"></app-icon>
  </div>
</app-header>

<app-simple-panel [paddingSize]="'large'">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <app-labeled-input
        [label]="'app.register.mail' | translate"
        [name]="'email'"
        [id]="'email'"
        [control]="emailControl"
        [type]="'email'"
        [placeholder]="'sheldon@cooper.de'"
        [requiredError]="'app.register.error.mail.required' | translate"
        [invalidError]="'app.register.error.mail.wrong' | translate"
      >
        <ng-template #prefix>
          <app-icon [name]="'lettercase'" [lightcolor]="'slate-300'" [darkcolor]="'slate-400'" [size]="6"></app-icon>
        </ng-template>
      </app-labeled-input>
    </div>

    <div>
      <app-labeled-input
        [label]="'app.register.password' | translate"
        [name]="'password'"
        [id]="'password'"
        [control]="pwdControl"
        [placeholder]="'Passwort eingeben'"
        [type]="isPasswordVisible ? 'text' : 'password'"
        [requiredError]="'app.register.error.password.required' | translate"
        [invalidError]="'app.register.error.password.wrong' | translate"
      >
        <ng-template #prefix>
          <app-icon [name]="'lock'" [lightcolor]="'slate-300'" [darkcolor]="'slate-400'" [size]="6"></app-icon>
        </ng-template>
        <ng-template #suffix *ngIf="!isPasswordVisible">
          <app-icon
            [name]="'eyeClose'"
            [lightcolor]="'slate-300'" [darkcolor]="'slate-400'"
            [size]="6"
            class="cursor-pointer"
            (click)="isPasswordVisible = !isPasswordVisible"
          ></app-icon>
        </ng-template>
        <ng-template #suffix *ngIf="isPasswordVisible">
          <app-icon
            [name]="'eyeOpen'"
            [lightcolor]="'slate-300'" [darkcolor]="'slate-400'"
            [size]="6"
            class="cursor-pointer"
            (click)="isPasswordVisible = !isPasswordVisible"
          ></app-icon>
        </ng-template>
      </app-labeled-input>
      <div class="ml-4">
        <ul class="mt-1 list-disc text-sm">
          <li
            [class.text-green-600]="rules.minLength"
            [class.text-slate-500]="!rules.minLength"
          >
            sollte min. 8 Zeichen lang sein
          </li>
          <li
            [class.text-green-600]="rules.hasUpperCase"
            [class.text-slate-500]="!rules.hasUpperCase"
          >
            beinhaltet große und kleine Buchstaben
          </li>
          <li
            [class.text-green-600]="rules.hasNumber"
            [class.text-slate-500]="!rules.hasNumber"
          >
            beinhaltet Zahlen
          </li>
          <li
            [class.text-green-600]="rules.hasSpecialChar"
            [class.text-slate-500]="!rules.hasSpecialChar"
          >
            hat Sonderzeichen (möglichst keine sprachabhängigen)
          </li>
        </ul>
      </div>
    </div>

    <div>
      <button
        [disabled]="registrationForm.invalid"
        type="submit"
        class="mt-5 flex w-full cursor-pointer justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-default disabled:bg-gray-200 disabled:text-gray-400"
      >
        {{ "app.register.confirmation" | translate }}
      </button>
    </div>
  </form>
</app-simple-panel>

<p class="mt-5 text-center text-sm/6 text-gray-500">
  {{ "app.register.question" | translate }}
  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">
    {{ "app.register.exclamation" | translate }}
  </a>
</p>
