<app-header
  [textSize]="'medium'"
  [title]="'app.register.title' | translate"
  [subtitle]="'app.register.subtitle' | translate"
  [isLoading]="false"
>
  <div class="mr-1 size-12 text-slate-700">
    <app-icon
      [name]="'register'"
      [size]="12"
      [lightcolor]="'slate-400'"
      [darkcolor]="'slate-600'"
    ></app-icon>
  </div>
</app-header>

<app-simple-panel [paddingSize]="'large'">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div>
      <app-labeled-input
        [focus]="false"
        [label]="'app.register.mail' | translate"
        [name]="'email'"
        [id]="'email'"
        [control]="emailControl"
        [type]="'email'"
        [placeholder]="'sheldon@cooper.de'"
        [requiredError]="'app.register.error.mail.required' | translate"
        [invalidError]="'app.register.error.mail.wrong' | translate"
      >
        <ng-template #prefix>
          <app-icon
            [name]="'lettercase'"
            [lightcolor]="'slate-300'"
            [darkcolor]="'slate-400'"
            [size]="6"
          ></app-icon>
        </ng-template>
      </app-labeled-input>
    </div>

    <div>
      <app-labeled-input
        [label]="'app.register.password' | translate"
        [name]="'password'"
        [id]="'password'"
        [control]="pwdControl"
        [placeholder]="'Passwort eingeben'"
        [type]="isPasswordVisible ? 'text' : 'password'"
        [requiredError]="'app.register.error.password.required' | translate"
        [invalidError]="'app.register.error.password.wrong' | translate"
      >
        <ng-template #prefix>
          <app-icon
            [name]="'lock'"
            [lightcolor]="'slate-300'"
            [darkcolor]="'slate-400'"
            [size]="6"
          ></app-icon>
        </ng-template>
        <ng-template #suffix *ngIf="!isPasswordVisible">
          <app-icon
            [name]="'eyeClose'"
            [lightcolor]="'slate-300'"
            [darkcolor]="'slate-400'"
            [size]="6"
            class="cursor-pointer"
            (click)="isPasswordVisible = !isPasswordVisible"
          ></app-icon>
        </ng-template>
        <ng-template #suffix *ngIf="isPasswordVisible">
          <app-icon
            [name]="'eyeOpen'"
            [lightcolor]="'slate-300'"
            [darkcolor]="'slate-400'"
            [size]="6"
            class="cursor-pointer"
            (click)="isPasswordVisible = !isPasswordVisible"
          ></app-icon>
        </ng-template>
      </app-labeled-input>
      <div class="ml-4">
        <ul class="mt-1 list-disc text-sm">
          <li
            [class.text-green-600]="rules.minLength"
            [class.text-slate-500]="!rules.minLength"
          >
            {{
              "app.register.passwordRules.minLength"
                | translate: { pwdLength: MINPWDLENGTH }
            }}
          </li>
          <li
            [class.text-green-600]="rules.hasUpperCase"
            [class.text-slate-500]="!rules.hasUpperCase"
          >
            {{ "app.register.passwordRules.ucChars" | translate }}
          </li>
          <li
            [class.text-green-600]="rules.hasNumber"
            [class.text-slate-500]="!rules.hasNumber"
          >
            {{ "app.register.passwordRules.number" | translate }}
          </li>
          <li
            [class.text-green-600]="rules.hasSpecialChar"
            [class.text-slate-500]="!rules.hasSpecialChar"
          >
            {{ "app.register.passwordRules.specialChars" | translate }}
          </li>
        </ul>
      </div>
    </div>

    <div>
      <button
        [disabled]="!allRulesValid"
        type="submit"
        class="mt-5 h-10 flex w-full cursor-pointer justify-center items-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:cursor-default disabled:bg-gray-200 disabled:text-gray-400"
      >
        <svg
          [ngClass]="{'hidden': !isLoading}"
          class="h-5 w-5 animate-spin text-indigo-200"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
        <span [ngClass]="{'hidden': isLoading}">{{ "app.register.confirmation" | translate }}</span>
      </button>
    </div>
  </form>
</app-simple-panel>

<p class="mt-5 text-center text-sm/6 text-gray-500">
  {{ "app.register.question" | translate }}
  <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">
    {{ "app.register.exclamation" | translate }}
  </a>
</p>
