<div>
  <app-label [labelFor]="id" [content]="label"></app-label>

  <app-input
    class="w-full"
    [control]="control"
    [placeholder]="placeholder"
    [type]="type"
    [name]="name"
    [id]="id"
    [prefixTemplate]="prefixContent"
    [suffixTemplate]="suffixContent"
    (handleFocused)="isFocused($event)"
  >
  </app-input>

  <div
    class="mt-2 text-sm text-red-600"
    *ngIf="control?.invalid && control?.touched; else emptyError"
  >
    <p *ngIf="control?.errors?.['required']">
      {{ requiredError }}
    </p>
    <p *ngIf="control?.errors?.['email']">
      {{ invalidError }}
    </p>
  </div>
  <ng-template #emptyError><div class="mt-2 h-5 w-full"></div></ng-template>
</div>
