<app-header [iconTemplate]="headerIcon" [titleTemplate]="title">
  <ng-template #headerIcon>
    <app-globe
      styleClass="size-10 text-slate-300 dark:text-slate-700"
    ></app-globe>
  </ng-template>
  <ng-template #title>
    <h1 class="text-xl text-white">{{ "app.title" | translate }}</h1>
  </ng-template>
</app-header>

<app-simple-panel [contentTemplate]="content" styleClass="p-4">
  <ng-template #content>
    <div class="flex flex-wrap items-center justify-start gap-2">
      <app-status-button
        *ngFor="let item of langItems"
        [isActive]="item.isActive"
        [type]="item.lang"
        [label]="item.ariaLabel"
        (returnIdentifier)="changeLanguageEvent($event)"
        [isLoading]="isLoading"
        [titleTemplate]="btnTitle"
        [subtitleTemplate]="btnSubtitle"
      >
        <ng-template #btnTitle>
          <div class="hidden pl-3 text-slate-800 md:block dark:text-slate-200">
            {{ item.langName }}
          </div>
          <div
            class="flex h-full w-full items-center justify-center text-slate-800 md:hidden dark:text-slate-200"
          >
            {{ item.langName.slice(0, 2) | uppercase }}
          </div>
        </ng-template>

        <ng-template #btnSubtitle>
          <div
            class="hidden pl-3 text-sm text-slate-500 md:block dark:text-slate-400"
          >
            {{ item.welcomeText }}
          </div>
        </ng-template>
      </app-status-button>
    </div>
  </ng-template>
</app-simple-panel>
