<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <div class="shrink-0">
          <span class="text-2xl font-semibold text-white">Fi<span class="text-orange-600">o</span>re</span>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a [routerLink]="[item.route]" *ngFor="let item of routeItems"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
              aria-current="page"
              routerLinkActive="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">{{item.name}}</a>
          </div>
        </div>
      </div>

      <div class="relative ml-3">
        <div class="hidden md:block">
          <button type="button" (click)="changeLanguage()"
            class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 focus:outline-hidden">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">View notifications</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
            </svg>   
          </button>
        </div>

        <div *ngIf="isLanguageMenuOpen" class="relative z-10" aria-labelledby="slide-over-title" role="dialog"
          aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0"></div>

          <div class="fixed inset-0 overflow-hidden">
            <div class="absolute inset-0 overflow-hidden">
              <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                <!--
                  Slide-over panel, show/hide based on slide-over state.
        
                  Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-full"
                    To: "translate-x-0"
                  Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                    From: "translate-x-0"
                    To: "translate-x-full"
                -->
                <div class="pointer-events-auto w-screen max-w-md">
                  <div class="flex h-full flex-col overflow-y-scroll bg-slate-900 py-6 shadow-xl">
                    <div class="px-4 sm:px-6">
                      <div class="flex items-start justify-between">

                        <div class="relative mb-4 w-full rounded overflow-hidden">
                          <!-- Gradient Border -->
                          <div class="absolute inset-0 bg-conic-240 from-orange-600 via-slate-800 to-slate-900 rounded z-0"></div>
                        
                          <div class="absolute left-5/11 top-1 -rotate-30 bg-white h-full w-full scale-140 z-10"></div>

                          <!-- Inhalt (über allem) -->
                          <div class="relative bg-gray-900 rounded p-2 text-slate-400 m-[1px] z-0 flex ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 0 1-1.161.886l-.143.048a1.107 1.107 0 0 0-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 0 1-1.652.928l-.679-.906a1.125 1.125 0 0 0-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 0 0-8.862 12.872M12.75 3.031a9 9 0 0 1 6.69 14.036m0 0-.177-.529A2.25 2.25 0 0 0 17.128 15H16.5l-.324-.324a1.453 1.453 0 0 0-2.328.377l-.036.073a1.586 1.586 0 0 1-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 0 1-5.276 3.67m0 0a9 9 0 0 1-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25" />
                            </svg>                            
                            <span class="pl-2 text-white">Übersetzen in</span>
                          </div>
                        </div>
                        

                        <div class="ml-3 flex justify-items-center items-center h-full p-2">
                          <button type="button" (click)="isLanguageMenuOpen = !isLanguageMenuOpen"
                            class="relative rounded-md text-slate-300 hover:text-gray-400 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden">
                            <span class="absolute -inset-2.5"></span>
                            <span class="sr-only">Close panel</span>
                            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                              aria-hidden="true" data-slot="icon">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="relative mt-6 flex-1 px-4 sm:px-6">

                      <!-- Content -->
                      <div class="grid grid-cols-2 gap-6 items-center">
                        <app-lang-button [langName]="'app.langNames.de'" [lang]="'de'">
                          <app-de-flag #flagAnimation="flagAnimation"></app-de-flag>
                        </app-lang-button>
                        <app-lang-button [langName]="'app.langNames.en'" [lang]="'en'">
                          <app-en-flag #flagAnimation="flagAnimation"></app-en-flag>
                        </app-lang-button>
                        <app-lang-button [langName]="'app.langNames.es'" [lang]="'es'">
                          <app-es-flag #flagAnimation="flagAnimation"></app-es-flag>
                        </app-lang-button>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <!-- Mobile menu button -->
        <button type="button" (click)="isMobileMenuOpen = !isMobileMenuOpen"
          class="relative inline-flex items-center justify-center rounded-md bg-gray-800 p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
          aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg class="block size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!-- Menu open: "block", Menu closed: "hidden" -->
          <svg class="hidden size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="md:hidden" id="mobile-menu" *ngIf="isMobileMenuOpen">
    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3">
      <a *ngFor="let item of routeItems" [routerLink]="[item.route]"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        aria-current="page"
        routerLinkActive="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white">{{item.name}}</a>
    </div>
    <div class="border-t border-gray-700 pt-4 pb-3">
      <div class="flex items-center px-5">
        <div class="shrink-0">
          <span class="relative rounded-full bg-gray-800 p-1 text-gray-400">
            <span>Übersetze in:</span>
          </span>
        </div>
        <div class="ml-3 flex flex-row gap-2">
          <div class="text-xs rounded-full bg-orange-700 size-8 text-white flex items-center justify-center">DE</div>
          <div class="text-xs rounded-full bg-red-700 size-8 text-white flex items-center justify-center">EN</div>
          <div class="text-xs rounded-full bg-purple-700 size-8 text-white flex items-center justify-center">ES</div>
        </div>
      </div>
    </div>
  </div>
</nav>