<div class="flex flex-col absolute left-5/12 top-1 -rotate-30 overflow-hidden z-10 bg-white h-full w-full scale-120">
    <div [ngClass]="{'hidden': !isHovered, 'animate-esstripes': isHovered}"
        style="--re-clr: oklch(0.505 0.213 27.518);" class="z-12 bg-red-700 w-35 h-2"></div>
    <div [ngClass]="{'hidden': !isHovered, 'animate-esstripes-ufast': isHovered}"
        style="--re-clr: oklch(0.505 0.213 27.518);" class="z-11 bg-red-700 w-35 h-2"></div>
    <div [ngClass]="{'hidden': !isHovered, 'animate-esstripes-fast': isHovered}"
        style="--re-clr: oklch(0.505 0.213 27.518);" class="z-10 bg-red-700 w-35 h-1"></div>

    <div [ngClass]="{'hidden': !isHovered, 'animate-esstripes-fast': isHovered}"
        style="--re-clr: oklch(0.795 0.184 86.047);" class="z-20 bg-yellow-500 w-35 h-10"></div>
    <div [ngClass]="{'hidden': !isHovered, 'animate-esstripes': isHovered}"
        style="--re-clr: oklch(0.505 0.213 27.518);" class="z-30 bg-red-700 w-35 h-4"></div>
</div>