<app-header [textSize]="'small'" [title]="menuTitle$ | async" [isLoading]="isLoading">
  <app-icon [name]="'globe'" [size]="6" [lightcolor]="'slate-400'" [darkcolor]="'slate-400'"></app-icon>
</app-header>

<app-simple-panel [paddingSize]="'small'">

  <div class="flex flex-wrap items-center justify-start gap-2">
    <app-status-button
      *ngFor="let item of langItems"
      [isActive]="item.isActive"
      [type]="item.lang"
      [label]="item.ariaLabel"
      (returnIdentifier)="changeLanguageEvent($event)"
      [isLoading]="isLoading"
    >
      <app-text-with-subtext
        [isLoading]="isLoading"
        [header]="item.langName"
        [subtext]="item.welcomeText"
      >
      </app-text-with-subtext>
    </app-status-button>
  </div>
</app-simple-panel>
